<div>
  <h2>All Courses</h2>
  <ul>
    <li>
      {{#link-to "courses.course" 1}}
        Course 1
      {{/link-to}}
    </li>
    <li>
      {{#link-to "courses.course" 2}}
        Course 2
      {{/link-to}}
    </li>
    <li>
      {{#link-to "courses.course" 3}}
        Course 3
      {{/link-to}}
    </li>
  </ul>
  {{outlet}}
</div>
