<div>
  <h2>All Courses</h2>
  <ul>
    {{#each model.courses as |course|}}
      <li>
        {{#link-to "courses.course" course.id}}
          {{course.name}}
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
  {{outlet}}
</div>
